#wrapper {
  display: flex;
  justify-content: center;
}

#history-list li {
  list-style-type: none;
}

main {
  height: 700px;
  width: 700px;
}

#text-name {
  margin-top: 5px;
  height: 30px;
}
#btn {
  height: 35px;
  width: 65px;
}

#wiki-img {
  background-color: blueviolet;
}

.display-none-error {
  display: none;
}
